name: Publish to GitHub Packages

on:
  push:
    tags:
      - 'v*' # v1.0.0 같은 태그를 푸시할 때만 작동합니다.

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions: # 배포를 위한 권한 설정
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Publish with Gradle
        run: ./gradlew publishGprPublicationToGitHubPackagesRepository
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}